//login page
main#login .form-field {
  box-shadow: none;
}

main#login {
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

main#login form {
  border: 1px solid $grey;
}
