.d-desktop {
  display: none;
}
@media (min-width: 600px) {
  .d-desktop {
    display: block;
  }
}

.view {
  padding: 0 100px;
  margin-bottom: 4rem;
}
@media (max-width: 600px) {
  .view {
    padding: 0 40px;
    margin-bottom: 2.5rem;
  }
}

.small {
  font-size: 0.8rem;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.d-none {
  display: none;
}

.btn {
  background: #ffc107;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.error {
  color: yellow !important;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 10.5rem;
  display: inline-block;
  transition: all 30ms 300ms ease-in-out;
  margin: inherit;
  padding: inherit;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.box-shadow {
  box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -webkit-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -moz-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

header ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header ul li:first-child {
  grid-column: span 8;
}
header ul li {
  line-height: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10.5px 5px;
  text-transform: capitalize;
}
header ul li a {
  color: #101010;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
header ul li:last-child {
  background-color: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
header ul li:last-child a {
  color: #101010;
}

.container > div {
  margin-bottom: 125px;
}

main .container #hero {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  margin-top: 10vh;
  align-items: center;
}
@media screen and (max-width: 600px) {
  main .container #hero {
    width: 100%;
    display: block;
  }
}
main .container h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 65px;
  font-stretch: expanded;
  text-align: center;
}
@media screen and (max-width: 600px) {
  main .container h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
}
main .container h1 .gradient {
  background: linear-gradient(90deg, #4d2088 0%, #6437a0, #aa3f61, #ff5e64, #ff7747, #fb9633);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline 2px solid red;
}
main .container h1 + p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 35px;
  font-stretch: expanded;
  color: #7d7d7d;
  line-height: 36px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  main .container h1 + p {
    font-size: 1rem;
    line-height: 25px;
  }
}

main .container form .form-field {
  display: grid;
  grid-template-columns: 3.5fr 1.2fr;
  align-items: center;
  border-radius: 5px;
  padding: 7.5px 5px;
  margin-top: 2rem;
  box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -webkit-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -moz-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
}
@media screen and (max-width: 600px) {
  main .container form .form-field {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }
}
main .container form .form-field button,
main .container form .form-field input {
  border: none;
  background-color: none;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 28px;
  border: none;
  border-radius: 0;
}
main .container form .form-field button {
  border-radius: 24px;
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background: #6437a0;
  text-transform: capitalize;
}
main .container form .form-field input {
  padding-left: 30px;
  border-radius: 5px 0 5px 0;
  color: black;
}
main .container form .form-field input:hover,
main .container form .form-field input:focus {
  outline: none;
}
main .container form .form-field button:hover {
  background: #4d2088;
}
main .container form .form-field ::placeholder {
  color: #505050;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 30px;
  font-family: inherit;
}

main .container #about {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  justify-content: space-between;
  column-gap: 3rem;
}
@media screen and (max-width: 600px) {
  main .container #about {
    grid-template-columns: 1fr;
  }
}
main .container #about h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 45px;
  font-stretch: expanded;
  text-transform: capitalize;
  line-height: 65px;
}
@media screen and (max-width: 600px) {
  main .container #about h2 {
    font-size: 2rem;
    line-height: 55px;
  }
}
main .container #about ul {
  display: block;
  padding: 0;
  margin: 0;
}
main .container #about ul li {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  main .container #about ul li {
    grid-template-columns: 1fr;
  }
}
main .container #about ul li:last-child {
  margin-bottom: 0;
}
main .container #about li img {
  object-fit: fill;
  max-width: 100%;
  width: 45px;
}

main #pricing > h2 {
  text-align: center;
}
main #pricing > div {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: 500px;
  column-gap: 5rem;
}
@media screen and (max-width: 600px) {
  main #pricing > div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
main #pricing .price-card {
  border: 2px solid #e6e6e6;
  border-radius: 12px;
  transition: 300ms ease;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0;
  margin: 0;
  text-align: center;
}
main #pricing .price-card:hover {
  background: #6437a0;
  color: #f2f2f2;
  box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -webkit-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -moz-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
}
main #pricing .price-card h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 45px;
  font-stretch: expanded;
  text-transform: uppercase;
  line-height: 65px;
}
main #pricing .price-card sub,
main #pricing .price-card sup {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 28px;
  border: none;
  border-radius: 0;
  color: #7d7d7d;
}
main #pricing .price h3 + p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 35px;
}
main #pricing .price-card .price {
  font-size: 3.5rem;
  display: block;
  text-align: center;
  position: relative;
  bottom: 2px;
}

footer {
  background-color: #101010;
  margin-bottom: 0;
  padding: 20px 0;
  color: #f2f2f2;
}
footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer .copyright {
  text-align: center;
  font-weight: 400;
  color: #f2f2f2;
  text-transform: capitalize;
}
footer .copyright a {
  color: inherit;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  text-transform: capitalize;
}
footer .copyright ul {
  display: flex;
}

main#login .form-field {
  box-shadow: none;
}

main#login {
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

main#login form {
  border: 1px solid #e6e6e6;
}

/*# sourceMappingURL=index.css.map */
