.d-desktop {
  display: none;
}
@media (min-width: 600px) {
  .d-desktop {
    display: block;
  }
}

.text-center {
  text-align: center;
}

.d-desktop-none {
  display: none;
}

@media screen and (max-width: 600px) {
  .d-mobile-node {
    display: none;
  }

  .d-desktop-none {
    display: unset;
  }
}
.view {
  padding: 0 100px;
  margin-bottom: 4rem;
}
@media (max-width: 600px) {
  .view {
    padding: 0 40px;
    margin-bottom: 2.5rem;
  }
}

.small {
  font-size: 0.8rem;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.d-none {
  display: none;
}

.btn {
  background: #ffc107;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.btn.disabled {
  color: #6437a0;
}

.error,
.success {
  color: #fd4147 !important;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 20px;
  transition: all 30ms 300ms ease-in-out;
  margin: inherit;
  margin-top: -0.5rem;
  margin-left: 30px;
}

.success {
  color: #34b90b !important;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 20px;
  transition: all 30ms 300ms ease-in-out;
  margin: inherit;
  margin-top: -0.5rem;
  margin-left: 30px;
}

.error-message {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.box-shadow {
  box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -webkit-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -moz-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid transparent;
  width: 25px;
  height: 25px;
  -webkit-animation: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
header ul li {
  line-height: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10.5px 5px;
  margin: 0.5rem;
  text-transform: capitalize;
}
header ul li a {
  color: #101010;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 600px) {
  header ul li {
    display: none;
  }
}

header nav {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px unset !important;
}

header nav .nav-trigger {
  font-size: 2rem;
  border-radius: 4px;
  cursor: pointer;
}

header a.brand-logo {
  text-decoration: none;
  font-size: 1.35rem;
  color: #101010;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.container > div {
  margin-bottom: 125px;
}

.container {
  position: relative;
}
.container h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 45px;
  font-stretch: expanded;
  text-transform: capitalize;
  line-height: 65px;
}
@media screen and (max-width: 600px) {
  .container h2 {
    font-size: 2rem;
    line-height: 55px;
  }
}
.container p.sub-hero-text {
  max-width: 80%;
  line-height: 36px;
  font-stretch: expanded;
  font-size: 1.25rem;
  color: #e6e6e6;
}
.container p.sub-hero-text::first-letter {
  text-transform: uppercase;
}

main .container #hero {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(60vh - 30px);
  margin-top: 10vh;
  align-items: center;
}
@media screen and (max-width: 600px) {
  main .container #hero {
    max-width: 85%;
    margin-bottom: 7.5vh;
    display: block;
  }
}
main .container h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 65px;
  font-stretch: expanded;
  text-align: center;
}
@media screen and (max-width: 600px) {
  main .container h1 {
    font-size: 2.5rem;
    line-height: 55px;
  }
}
main .container h1 .gradient {
  background: linear-gradient(90deg, #4d2088 0%, #6437a0, #aa3f61, #ff5e64, #ff7747, #fb9633);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline 2px solid red;
}
main .container h1 + p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 35px;
  font-stretch: expanded;
  color: #7d7d7d;
  line-height: 36px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  main .container h1 + p {
    line-height: 36px;
    margin-bottom: 2rem;
  }
}

main .container form .form-field {
  display: grid;
  grid-template-columns: 3.5fr 1.2fr;
  align-items: center;
  border-radius: 5px;
  padding: 7.5px 5px;
  margin-top: 2rem;
  box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
}
@media screen and (max-width: 600px) {
  main .container form .form-field {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }
}
main .container form .form-field button,
main .container form .form-field input {
  border: none;
  background-color: none;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 28px;
  border: none;
  border-radius: 0;
}
main .container form .form-field button {
  border-radius: 24px;
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background: #6437a0;
  text-transform: capitalize;
}
main .container form .form-field input {
  padding-left: 30px;
  border-radius: 5px 0 5px 0;
  color: black;
}
main .container form .form-field input:hover,
main .container form .form-field input:focus {
  outline: none;
}
main .container form .form-field button:hover {
  background: #4d2088;
}
main .container form .form-field ::placeholder {
  color: #505050;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 30px;
  font-family: inherit;
}

main .container #about {
  display: grid;
  background-color: #6437a0;
  color: #f2f2f2;
  min-height: calc(80vh - 30px);
  position: relative;
  padding: 100px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
main .container #about p {
  text-align: center !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  main .container #about {
    display: block;
    padding: 100px 30px;
  }
}
main .container #about img {
  object-fit: fit;
  max-width: 80%;
}
@media screen and (max-width: 600px) {
  main .container #about img {
    display: none;
  }
}
main .container #about a.btn {
  border-radius: 24px;
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background: #6437a0;
  text-transform: capitalize;
  background-color: #ffffff;
  min-width: 30%;
  text-transform: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: #5d5d5d;
  padding: 0.75rem 1rem;
  min-height: 2.2rem;
}
@media screen and (max-width: 600px) {
  main .container #about a.btn {
    min-width: 100%;
  }
}

main #pricing {
  /*  & div.view:last-child {
    flex-direction: column;
    justify-content: space-between;
  } */
}
main #pricing div.view:first-child {
  text-align: center;
}
main #pricing div.view:first-child h2 {
  margin-bottom: 0;
  padding: 0;
}
main #pricing div.view:first-child p {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  color: #7d7d7d;
}
main #pricing .price-card {
  border: 2px solid #e6e6e6;
  border-radius: 12px;
  transition: 300ms ease;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 10px;
  text-align: center;
  min-height: 45vh;
}
main #pricing .price-card:hover {
  background: #6437a0;
  color: #f2f2f2;
  box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -webkit-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
  -moz-box-shadow: 1px 5px 42px -17px rgba(23, 20, 20, 0.54);
}
main #pricing .price-card h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 45px;
  font-stretch: expanded;
  text-transform: uppercase;
  margin-bottom: 0;
}
main #pricing .price-card sub,
main #pricing .price-card sup {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 28px;
  border: none;
  border-radius: 0;
  color: #7d7d7d;
}
main #pricing .price-card .price {
  font-size: 3.5rem;
  display: block;
  text-align: center;
  position: relative;
  bottom: 2px;
  margin-top: 5rem;
}

.custom-shape-divider-top-1657562747 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1657562747 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 48px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1657562747 .shape-fill {
  fill: #ffffff;
}

footer {
  background-color: #101010;
  margin-bottom: 0;
  padding: 20px 0;
  color: #f2f2f2;
}
footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer {
  font-weight: 400;
  color: #f2f2f2;
  text-transform: capitalize;
  padding-top: 30px;
}
footer > * {
  display: block;
}
footer .view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  footer .view {
    padding: 10px 25px;
  }
}
footer hr.view {
  border: 1px solid #3f3e3e;
  display: flex;
  max-width: 80%;
  text-align: center;
  margin: 0.35rem auto;
}
footer a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  text-transform: capitalize;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 600px) {
  footer .view {
    display: block;
    text-align: center;
  }
  footer ul {
    display: block;
    text-align: center;
  }
  footer ul li {
    margin: 0.75rem 0;
  }
  footer ul.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  footer hr.view {
    margin: 0.5rem 0;
    padding: 0;
    max-width: 45%;
    border-width: 1px;
    border-style: dashed;
    margin: 0.75rem auto;
  }
}

main#login .form-field {
  box-shadow: none;
}

main#login {
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

main#login form {
  border: 1px solid #e6e6e6;
}

/*# sourceMappingURL=index.css.map */
