<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/stylesheets/index.css" />
    {{! <script src="static/scripts/dist/index.js"></script> }}
    <style>
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul class="view">
          <li>
            <a href="/">logo</a>
          </li>
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="/about">pricing</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/">login</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="view">
      <div class="container">
        <div id="hero">
          <!--grid one of two-->
          <div>
            <h1 id="hero-text" class="capitalize">
              One Short link,
              <br class="d-desktop" />
              infinite
              <span class="gradient">possibilities.</span>
            </h1>

            <p class="sub-hero">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
              animi iste. Repellendus fugiat nesciunt omnis fuga at eos eligendi
              asperiores illo praesentium provident laudantium soluta adipisci
              nulla veniam, saepe dolor!
            </p>
            <!--form-->
            <form action="/minify" method="post">
              <div class="form-field">
                <input
                  type="text"
                  name="uri"
                  id=""
                  placeholder="https://example.com/awesome"
                />
                <button type="submit" class="btn">try now</button>
              </div>
            </form>

            <!--call to action-->
            <div class="cta d-none">
              <a href="/login">
                <button class="btn">get started</button>
              </a>
              <a href="/about">
                <button class="btn">learn more</button>
              </a>
            </div>
          </div>
          <!--grid two of  of two-->
          <div>
          </div>
        </div>
        <div id="about">
          <ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus quos omnis sunt, in vel rem eligendi. Maiores,
              porro! Quidem autem voluptas mollitia quaerat, beatae
              reprehenderit magnam esse asperiores delectus! Reprehenderit.
            </li>

            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus quos omnis sunt, in vel rem eligendi. Maiores,
              porro! Quidem autem voluptas mollitia quaerat, beatae
              reprehenderit magnam esse asperiores delectus! Reprehenderit.
            </li>

            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus quos omnis sunt, in vel rem eligendi. Maiores,
              porro! Quidem autem voluptas mollitia quaerat, beatae
              reprehenderit magnam esse asperiores delectus! Reprehenderit.
            </li>
          </ul>

          <div>
            <h2>everything you need for analysis and audience analysis</h2>
          </div>
        </div>
        <div id="pricing"></div>
        <div id="testimonials"></div>
      </div>
    </main>
    <footer>
      <div class="view">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis adipisci
        quos rerum iusto ad nisi consectetur esse deserunt, eos dignissimos
        sequi earum minima nostrum dolores neque, temporibus excepturi
        voluptate!
      </div>
    </footer>
  </body>
</html>