$black: #101010;
$gradient: linear-gradient(
  90deg,
  #6437a0,
  #fe4b83,
  #ff5e64,
  #ff7747,
  #fb9633,
  /*  #e2b72f,
  #c7d63c,
  #c7d63c */
);
$blue: #6437a0;
$button-gradient: linear-gradient(to right, #8e44ad, #c0392b);
$grey: #e6e6e6;
$white: #f2f2f2;
