$black: #101010;
$gradient: linear-gradient(
  90deg,
  #4d2088 0%,
  #6437a0,
  #aa3f61,
  #ff5e64,
  #ff7747,
  #fb9633,
  /*  #e2b72f,
  #c7d63c,
  #c7d63c */
);
$blue: #6437a0;
$blue-dark: #4d2088;
$button-gradient: linear-gradient(-56deg, #6437a0 40%, #ff5e64 85%, #4d2088);
$grey: #e6e6e6;
$dark-grey: #7d7d7d;
$white: #f2f2f2;
$yellow: #ff7747;
$red: #fd4147;
$disabled: darken($grey, 10);
