footer {
  background-color: $black;
  margin-bottom: 0;
  padding: 20px 0;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
  }
}

footer .copyright {
  text-align: center;
  font-weight: 400;
  color: $white;
  text-transform: capitalize;
  a {
    color: inherit;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    text-transform: capitalize;
  }
  ul {
    display: flex;
  }
}
